.lightbox-container{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.7);
  display: none !important; 
}
.lightbox-item{
    width: 50%;
    height: 500px;
   background-image: url(../../imgs/Aria-Stone-Gallery-SJB-Interiors-AU-450x600.jpg );
   background-size: 100% 100%;
 
}
.show{
    display:flex  !important; 
}
#wclose{
    position: absolute;
    top: 15%;
    right: 50px;
    cursor:pointer; 
}
@media  (max-width: 768px) {
    .lightbox-item{
     height: 50%;
     width: 90%;
     
 }
 #wclose{
    top: 85px;
    right: 20px;
 }
}